PutSolr (2).xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>7e5d99be-0171-1000-ffff-ffffd9ba37d3</groupId>
    <name>PutSolr</name>
    <snippet>
        <connections>
            <id>893ee8e6-207d-3717-0000-000000000000</id>
            <parentGroupId>07acfcc8-2241-39f6-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>07acfcc8-2241-39f6-0000-000000000000</groupId>
                <id>2bd7e7ab-094d-324b-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>connection_failure</selectedRelationships>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>07acfcc8-2241-39f6-0000-000000000000</groupId>
                <id>4fe66535-af8e-3b4a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c5c4880d-7022-3eb3-0000-000000000000</id>
            <parentGroupId>07acfcc8-2241-39f6-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>07acfcc8-2241-39f6-0000-000000000000</groupId>
                <id>4fe66535-af8e-3b4a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>07acfcc8-2241-39f6-0000-000000000000</groupId>
                <id>06540a40-4b09-3141-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>62586cc3-72fa-38c2-0000-000000000000</id>
            <parentGroupId>07acfcc8-2241-39f6-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.3.2.0.0.0-196</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonTreeReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <funnels>
            <id>2bd7e7ab-094d-324b-0000-000000000000</id>
            <parentGroupId>07acfcc8-2241-39f6-0000-000000000000</parentGroupId>
            <position>
                <x>704.0</x>
                <y>480.0</y>
            </position>
        </funnels>
        <processors>
            <id>06540a40-4b09-3141-0000-000000000000</id>
            <parentGroupId>07acfcc8-2241-39f6-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.3.2.0.0.0-196</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Command</key>
                        <value>
                            <name>Command</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>
                            <name>Command Arguments</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Duration</key>
                        <value>
                            <name>Batch Duration</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Redirect Error Stream</key>
                        <value>
                            <name>Redirect Error Stream</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                        <value>
                            <name>Working Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value>
                            <name>Argument Delimiter</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Command</key>
                        <value>python3</value>
                    </entry>
                    <entry>
                        <key>Command Arguments</key>
                        <value>/opt/demo/simulate.py</value>
                    </entry>
                    <entry>
                        <key>Batch Duration</key>
                    </entry>
                    <entry>
                        <key>Redirect Error Stream</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Working Directory</key>
                    </entry>
                    <entry>
                        <key>Argument Delimiter</key>
                        <value> </value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>1 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Generate Test Data</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ExecuteProcess</type>
        </processors>
        <processors>
            <id>4fe66535-af8e-3b4a-0000-000000000000</id>
            <parentGroupId>07acfcc8-2241-39f6-0000-000000000000</parentGroupId>
            <position>
                <x>8.0</x>
                <y>408.0</y>
            </position>
            <bundle>
                <artifact>nifi-solr-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.11.3.2.0.0.0-196</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Solr Type</key>
                        <value>
                            <name>Solr Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Solr Location</key>
                        <value>
                            <name>Solr Location</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Collection</key>
                        <value>
                            <name>Collection</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Solr Update Path</key>
                        <value>
                            <name>Solr Update Path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-solr-record-record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>put-solr-record-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fields To Index</key>
                        <value>
                            <name>Fields To Index</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Commit Within</key>
                        <value>
                            <name>Commit Within</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-principal</key>
                        <value>
                            <name>kerberos-principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-password</key>
                        <value>
                            <name>kerberos-password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Solr Socket Timeout</key>
                        <value>
                            <name>Solr Socket Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Solr Connection Timeout</key>
                        <value>
                            <name>Solr Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Solr Maximum Connections</key>
                        <value>
                            <name>Solr Maximum Connections</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Solr Maximum Connections Per Host</key>
                        <value>
                            <name>Solr Maximum Connections Per Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ZooKeeper Client Timeout</key>
                        <value>
                            <name>ZooKeeper Client Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ZooKeeper Connection Timeout</key>
                        <value>
                            <name>ZooKeeper Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Solr Type</key>
                        <value>Cloud</value>
                    </entry>
                    <entry>
                        <key>Solr Location</key>
                        <value>ec2-3-80-206-117.compute-1.amazonaws.com:2181/solr</value>
                    </entry>
                    <entry>
                        <key>Collection</key>
                        <value>sensors</value>
                    </entry>
                    <entry>
                        <key>Solr Update Path</key>
                        <value>/update</value>
                    </entry>
                    <entry>
                        <key>put-solr-record-record-reader</key>
                        <value>62586cc3-72fa-38c2-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Fields To Index</key>
                        <value>sensor_id,sensor_ts</value>
                    </entry>
                    <entry>
                        <key>Commit Within</key>
                        <value>5000</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>kerberos-principal</key>
                    </entry>
                    <entry>
                        <key>kerberos-password</key>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>Solr Socket Timeout</key>
                        <value>10 seconds</value>
                    </entry>
                    <entry>
                        <key>Solr Connection Timeout</key>
                        <value>10 seconds</value>
                    </entry>
                    <entry>
                        <key>Solr Maximum Connections</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Solr Maximum Connections Per Host</key>
                        <value>5</value>
                    </entry>
                    <entry>
                        <key>ZooKeeper Client Timeout</key>
                        <value>10 seconds</value>
                    </entry>
                    <entry>
                        <key>ZooKeeper Connection Timeout</key>
                        <value>10 seconds</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>500</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutSolrRecord</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>connection_failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.solr.PutSolrRecord</type>
        </processors>
    </snippet>
    <timestamp>04/15/2020 21:06:37 UTC</timestamp>
</template>
